<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dg.MailQueue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <dg.MailQueue.Properties.Settings>
      <setting name="QueueFolder" serializeAs="String">
        <value>~/mail/queue</value>
      </setting>
      <setting name="FailedFolder" serializeAs="String">
        <value>~/mail/failed</value>
      </setting>
      <setting name="MaximumFailureRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaximumConcurrentWorkers" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SmtpConnectionTimeout" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="SecondsUntilFolderRefresh" serializeAs="String">
        <value>10</value>
      </setting>
    </dg.MailQueue.Properties.Settings>
  </userSettings>
</configuration>
